---
import Layout from "@/layouts/Layout.astro";
import { CalendarPlus } from "lucide-react";
import { Button } from "@/components/ui/button";
import { EventCard } from "@/components/event-card";
import { getEvents } from "@/lib/events";

const events = await getEvents();

console.log(events);
---

<Layout title="Podio, but better">
  <Button slot="header-title" transition:name="title">
    <CalendarPlus className="h-4 w-4 mr-2" />
     Create event
  </Button>
  <div class="space-y-4">
    {
      events.map((event) => (
        <EventCard
          id={event.id}
          name={event.name}
          description={event.description}
          start={event.start}
          end={event.end}
          rsvp={event.rsvp}
        />
      ))
    }
  </div>
</Layout>
